.navbar {
    border-radius: 0;
}
.post-content {
    font-size:20px;
}
.post-when-by {
    text-align: right;
}

.post img {
    display: block;
    /*width:600px;*/
    max-height: 400px;
    max-width: 400px;
    margin: 0 auto;
}

.photo img {
    max-height: 150px;
    max-width: 150px;
}

.photo {
    float: left;
    margin-right:5px;
    margin-bottom:5px;
}